@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, ::after, ::before {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 0.875rem;
    margin: 0;
    overflow-y: scroll;
}

a {
    cursor: pointer;
    text-decoration: none;
}

li {
    list-style: none;
}

h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.275rem;
    color: var(--bs-emphasis-color);
}

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    z-index: 9000;
    max-width: 264px;
    min-width: 264px;
    background: var(--bs-dark);
    transition: all 0.3s ease-in-out;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    background: var(--bs-dark-bg-subtle);
    transition: all 0.3s ease-in-out;
}

.sidebar-logo {
    z-index: 9999;
    padding: 1.15rem;
    color: #e9ecef;
    font-size: 1.15rem;
    font-weight: 600;
}

.sidebar-nav {
    flex-grow: 1;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}

.sidebar-header {
    color: #e9ecef;
    font-size: .75rem;
    padding: 1.5rem 1.5rem .375rem;
}

.sidebar-link {
    padding: .675rem 1.625rem;
    color: #e9ecef;
    position: relative;
    display: block;
    font-size: 0.875rem;
}

.sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 0.75rem 0.75rem;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-180deg);
    transition: all .2s ease-out;
}

.sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

.avatar {
    height: 40px;
    width: 40px;
}

.navbar-expand .navbar-nav {
    margin-left: auto;
}

.content {
    flex: 1;
    width: 100%;
}

@media (min-width: 768px) {
    #sidebar {
        position: fixed;
    }

    .main {
        margin-left: 264px;
    }
}

@media (max-width: 767.98px) {
    #sidebar {
        position: fixed;
        transform: translateX(-100%);
    }

    #sidebar.show {
        transform: translateX(0);
    }

    .main {
        margin-left: 0;
    }

    .d-none {
        display: none;
    }
}

.theme-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    color: #e9ecef;
}

.illustration-img {
    max-width: 100%;
    height: auto;
}

.custom-size {
    max-width: 20%;
    height: auto;
}

.search-bar {
    margin-top: 1rem;
}

.user-data {
    margin-top: 1rem;
}

#myChart{
    width: 50%;
    height: auto;
}